/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
body, html {
    @include perspective(50);
    @include transform-style(preserve-3d);
    margin: 0;
    padding: 0;
    background-color: rgb(0,0,0);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
}
* {
    @include box-sizing(border-box);
}

.question-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: table;
    height: 100%;
    .question-container {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        padding: 11px;
        .question {
            width: 800px;
            height: 800px;
            margin: 0 auto;
            display: block;
            @include translateZ(0, 50);
            .alt-1,
            .alt-2,
            .alt-3,
            .alt-4 {
                display: block;
                position: absolute;
                width: 380px;
                height: 380px;
                border: 4px solid white;
                background-color: rgba(255,255,255,0.1);
                &.selected {
                    @include box-shadow(0 0 60px #a5c7fa);
                    z-index: 100;
                }
            }

            .alt-1 {
            }
            .alt-2 {
                @include translate(420px, 0, 0);
            }
            .alt-3 {
                @include translate(0, 420px, 0);
            }
            .alt-4 {
                @include translate(420px, 420px, 0);
            }
        }
    }
}
.star-1,
.star-2,
.star-3, {
    position: absolute;
    width: 250px;
    height: 250px;
    left: -324px;
    top: 0;
    opacity: 0;
    background: {
        size: cover;
    }
    @include translateZ(0, 50);
    -webkit-backface-visibility: hidden;
}
.star-1 {
    background-image: url(../img/star-1.png);
}
.star-2 {
    background-image: url(../img/star-2.png);
}
.star-3 {
    background-image: url(../img/star-3.png);
}

