/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'p2p';
  src: url("../fonts/p2p.ttf");
  font-weight: normal;
  font-style: normal;
}

/* line 17, ../sass/screen.scss */
body, html {
  -webkit-perspective: 50;
  -moz-perspective: 50;
  -ms-perspective: 50;
  -o-perspective: 50;
  perspective: 50;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'p2p';
}

/* line 31, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 34, ../sass/screen.scss */
.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 42, ../sass/screen.scss */
.question-wrapper,
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  height: 100%;
  z-index: 1001;
}
/* line 51, ../sass/screen.scss */
.question-wrapper .question-container,
.question-wrapper .menu-container,
.menu-wrapper .question-container,
.menu-wrapper .menu-container {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding: 11px;
  -webkit-perspective: 1000;
  perspective: 1000;
  z-index: 1001;
}
/* line 60, ../sass/screen.scss */
.question-wrapper .question-container .question,
.question-wrapper .question-container .menu,
.question-wrapper .menu-container .question,
.question-wrapper .menu-container .menu,
.menu-wrapper .question-container .question,
.menu-wrapper .question-container .menu,
.menu-wrapper .menu-container .question,
.menu-wrapper .menu-container .menu {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: block;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform: rotateY(90deg);
  /* Chrome, Safari, Opera */
  transform: rotateY(90deg);
  /* Standard syntax */
  position: relative;
  z-index: 101;
}
@media only screen and (min-height: 700px) {
  /* line 60, ../sass/screen.scss */
  .question-wrapper .question-container .question,
  .question-wrapper .question-container .menu,
  .question-wrapper .menu-container .question,
  .question-wrapper .menu-container .menu,
  .menu-wrapper .question-container .question,
  .menu-wrapper .question-container .menu,
  .menu-wrapper .menu-container .question,
  .menu-wrapper .menu-container .menu {
    width: 800px;
    height: 800px;
  }
}
/* line 75, ../sass/screen.scss */
.question-wrapper .question-container .question .question-header,
.question-wrapper .question-container .menu .question-header,
.question-wrapper .menu-container .question .question-header,
.question-wrapper .menu-container .menu .question-header,
.menu-wrapper .question-container .question .question-header,
.menu-wrapper .question-container .menu .question-header,
.menu-wrapper .menu-container .question .question-header,
.menu-wrapper .menu-container .menu .question-header {
  font-size: 30px;
  color: white;
  margin-top: -40px;
  text-align: center;
  text-transform: uppercase;
}
/* line 85, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-1,
.question-wrapper .question-container .question .alt-2,
.question-wrapper .question-container .question .alt-3,
.question-wrapper .question-container .question .alt-4,
.question-wrapper .question-container .menu .alt-1,
.question-wrapper .question-container .menu .alt-2,
.question-wrapper .question-container .menu .alt-3,
.question-wrapper .question-container .menu .alt-4,
.question-wrapper .menu-container .question .alt-1,
.question-wrapper .menu-container .question .alt-2,
.question-wrapper .menu-container .question .alt-3,
.question-wrapper .menu-container .question .alt-4,
.question-wrapper .menu-container .menu .alt-1,
.question-wrapper .menu-container .menu .alt-2,
.question-wrapper .menu-container .menu .alt-3,
.question-wrapper .menu-container .menu .alt-4,
.menu-wrapper .question-container .question .alt-1,
.menu-wrapper .question-container .question .alt-2,
.menu-wrapper .question-container .question .alt-3,
.menu-wrapper .question-container .question .alt-4,
.menu-wrapper .question-container .menu .alt-1,
.menu-wrapper .question-container .menu .alt-2,
.menu-wrapper .question-container .menu .alt-3,
.menu-wrapper .question-container .menu .alt-4,
.menu-wrapper .menu-container .question .alt-1,
.menu-wrapper .menu-container .question .alt-2,
.menu-wrapper .menu-container .question .alt-3,
.menu-wrapper .menu-container .question .alt-4,
.menu-wrapper .menu-container .menu .alt-1,
.menu-wrapper .menu-container .menu .alt-2,
.menu-wrapper .menu-container .menu .alt-3,
.menu-wrapper .menu-container .menu .alt-4 {
  display: block;
  position: absolute;
  width: 180px;
  height: 180px;
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
/* line 93, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-1 img,
.question-wrapper .question-container .question .alt-2 img,
.question-wrapper .question-container .question .alt-3 img,
.question-wrapper .question-container .question .alt-4 img,
.question-wrapper .question-container .menu .alt-1 img,
.question-wrapper .question-container .menu .alt-2 img,
.question-wrapper .question-container .menu .alt-3 img,
.question-wrapper .question-container .menu .alt-4 img,
.question-wrapper .menu-container .question .alt-1 img,
.question-wrapper .menu-container .question .alt-2 img,
.question-wrapper .menu-container .question .alt-3 img,
.question-wrapper .menu-container .question .alt-4 img,
.question-wrapper .menu-container .menu .alt-1 img,
.question-wrapper .menu-container .menu .alt-2 img,
.question-wrapper .menu-container .menu .alt-3 img,
.question-wrapper .menu-container .menu .alt-4 img,
.menu-wrapper .question-container .question .alt-1 img,
.menu-wrapper .question-container .question .alt-2 img,
.menu-wrapper .question-container .question .alt-3 img,
.menu-wrapper .question-container .question .alt-4 img,
.menu-wrapper .question-container .menu .alt-1 img,
.menu-wrapper .question-container .menu .alt-2 img,
.menu-wrapper .question-container .menu .alt-3 img,
.menu-wrapper .question-container .menu .alt-4 img,
.menu-wrapper .menu-container .question .alt-1 img,
.menu-wrapper .menu-container .question .alt-2 img,
.menu-wrapper .menu-container .question .alt-3 img,
.menu-wrapper .menu-container .question .alt-4 img,
.menu-wrapper .menu-container .menu .alt-1 img,
.menu-wrapper .menu-container .menu .alt-2 img,
.menu-wrapper .menu-container .menu .alt-3 img,
.menu-wrapper .menu-container .menu .alt-4 img {
  width: 100%;
}
@media only screen and (min-height: 700px) {
  /* line 85, ../sass/screen.scss */
  .question-wrapper .question-container .question .alt-1,
  .question-wrapper .question-container .question .alt-2,
  .question-wrapper .question-container .question .alt-3,
  .question-wrapper .question-container .question .alt-4,
  .question-wrapper .question-container .menu .alt-1,
  .question-wrapper .question-container .menu .alt-2,
  .question-wrapper .question-container .menu .alt-3,
  .question-wrapper .question-container .menu .alt-4,
  .question-wrapper .menu-container .question .alt-1,
  .question-wrapper .menu-container .question .alt-2,
  .question-wrapper .menu-container .question .alt-3,
  .question-wrapper .menu-container .question .alt-4,
  .question-wrapper .menu-container .menu .alt-1,
  .question-wrapper .menu-container .menu .alt-2,
  .question-wrapper .menu-container .menu .alt-3,
  .question-wrapper .menu-container .menu .alt-4,
  .menu-wrapper .question-container .question .alt-1,
  .menu-wrapper .question-container .question .alt-2,
  .menu-wrapper .question-container .question .alt-3,
  .menu-wrapper .question-container .question .alt-4,
  .menu-wrapper .question-container .menu .alt-1,
  .menu-wrapper .question-container .menu .alt-2,
  .menu-wrapper .question-container .menu .alt-3,
  .menu-wrapper .question-container .menu .alt-4,
  .menu-wrapper .menu-container .question .alt-1,
  .menu-wrapper .menu-container .question .alt-2,
  .menu-wrapper .menu-container .question .alt-3,
  .menu-wrapper .menu-container .question .alt-4,
  .menu-wrapper .menu-container .menu .alt-1,
  .menu-wrapper .menu-container .menu .alt-2,
  .menu-wrapper .menu-container .menu .alt-3,
  .menu-wrapper .menu-container .menu .alt-4 {
    width: 380px;
    height: 380px;
  }
}
/* line 100, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-1.selected,
.question-wrapper .question-container .question .alt-2.selected,
.question-wrapper .question-container .question .alt-3.selected,
.question-wrapper .question-container .question .alt-4.selected,
.question-wrapper .question-container .menu .alt-1.selected,
.question-wrapper .question-container .menu .alt-2.selected,
.question-wrapper .question-container .menu .alt-3.selected,
.question-wrapper .question-container .menu .alt-4.selected,
.question-wrapper .menu-container .question .alt-1.selected,
.question-wrapper .menu-container .question .alt-2.selected,
.question-wrapper .menu-container .question .alt-3.selected,
.question-wrapper .menu-container .question .alt-4.selected,
.question-wrapper .menu-container .menu .alt-1.selected,
.question-wrapper .menu-container .menu .alt-2.selected,
.question-wrapper .menu-container .menu .alt-3.selected,
.question-wrapper .menu-container .menu .alt-4.selected,
.menu-wrapper .question-container .question .alt-1.selected,
.menu-wrapper .question-container .question .alt-2.selected,
.menu-wrapper .question-container .question .alt-3.selected,
.menu-wrapper .question-container .question .alt-4.selected,
.menu-wrapper .question-container .menu .alt-1.selected,
.menu-wrapper .question-container .menu .alt-2.selected,
.menu-wrapper .question-container .menu .alt-3.selected,
.menu-wrapper .question-container .menu .alt-4.selected,
.menu-wrapper .menu-container .question .alt-1.selected,
.menu-wrapper .menu-container .question .alt-2.selected,
.menu-wrapper .menu-container .question .alt-3.selected,
.menu-wrapper .menu-container .question .alt-4.selected,
.menu-wrapper .menu-container .menu .alt-1.selected,
.menu-wrapper .menu-container .menu .alt-2.selected,
.menu-wrapper .menu-container .menu .alt-3.selected,
.menu-wrapper .menu-container .menu .alt-4.selected {
  -webkit-box-shadow: 0 0 100px #8cbaff;
  -moz-box-shadow: 0 0 100px #8cbaff;
  box-shadow: 0 0 100px #8cbaff;
  z-index: 100;
}
/* line 104, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-1.answer-unselected,
.question-wrapper .question-container .question .alt-2.answer-unselected,
.question-wrapper .question-container .question .alt-3.answer-unselected,
.question-wrapper .question-container .question .alt-4.answer-unselected,
.question-wrapper .question-container .menu .alt-1.answer-unselected,
.question-wrapper .question-container .menu .alt-2.answer-unselected,
.question-wrapper .question-container .menu .alt-3.answer-unselected,
.question-wrapper .question-container .menu .alt-4.answer-unselected,
.question-wrapper .menu-container .question .alt-1.answer-unselected,
.question-wrapper .menu-container .question .alt-2.answer-unselected,
.question-wrapper .menu-container .question .alt-3.answer-unselected,
.question-wrapper .menu-container .question .alt-4.answer-unselected,
.question-wrapper .menu-container .menu .alt-1.answer-unselected,
.question-wrapper .menu-container .menu .alt-2.answer-unselected,
.question-wrapper .menu-container .menu .alt-3.answer-unselected,
.question-wrapper .menu-container .menu .alt-4.answer-unselected,
.menu-wrapper .question-container .question .alt-1.answer-unselected,
.menu-wrapper .question-container .question .alt-2.answer-unselected,
.menu-wrapper .question-container .question .alt-3.answer-unselected,
.menu-wrapper .question-container .question .alt-4.answer-unselected,
.menu-wrapper .question-container .menu .alt-1.answer-unselected,
.menu-wrapper .question-container .menu .alt-2.answer-unselected,
.menu-wrapper .question-container .menu .alt-3.answer-unselected,
.menu-wrapper .question-container .menu .alt-4.answer-unselected,
.menu-wrapper .menu-container .question .alt-1.answer-unselected,
.menu-wrapper .menu-container .question .alt-2.answer-unselected,
.menu-wrapper .menu-container .question .alt-3.answer-unselected,
.menu-wrapper .menu-container .question .alt-4.answer-unselected,
.menu-wrapper .menu-container .menu .alt-1.answer-unselected,
.menu-wrapper .menu-container .menu .alt-2.answer-unselected,
.menu-wrapper .menu-container .menu .alt-3.answer-unselected,
.menu-wrapper .menu-container .menu .alt-4.answer-unselected {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
/* line 109, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-1.false-answer:after,
.question-wrapper .question-container .question .alt-2.false-answer:after,
.question-wrapper .question-container .question .alt-3.false-answer:after,
.question-wrapper .question-container .question .alt-4.false-answer:after,
.question-wrapper .question-container .menu .alt-1.false-answer:after,
.question-wrapper .question-container .menu .alt-2.false-answer:after,
.question-wrapper .question-container .menu .alt-3.false-answer:after,
.question-wrapper .question-container .menu .alt-4.false-answer:after,
.question-wrapper .menu-container .question .alt-1.false-answer:after,
.question-wrapper .menu-container .question .alt-2.false-answer:after,
.question-wrapper .menu-container .question .alt-3.false-answer:after,
.question-wrapper .menu-container .question .alt-4.false-answer:after,
.question-wrapper .menu-container .menu .alt-1.false-answer:after,
.question-wrapper .menu-container .menu .alt-2.false-answer:after,
.question-wrapper .menu-container .menu .alt-3.false-answer:after,
.question-wrapper .menu-container .menu .alt-4.false-answer:after,
.menu-wrapper .question-container .question .alt-1.false-answer:after,
.menu-wrapper .question-container .question .alt-2.false-answer:after,
.menu-wrapper .question-container .question .alt-3.false-answer:after,
.menu-wrapper .question-container .question .alt-4.false-answer:after,
.menu-wrapper .question-container .menu .alt-1.false-answer:after,
.menu-wrapper .question-container .menu .alt-2.false-answer:after,
.menu-wrapper .question-container .menu .alt-3.false-answer:after,
.menu-wrapper .question-container .menu .alt-4.false-answer:after,
.menu-wrapper .menu-container .question .alt-1.false-answer:after,
.menu-wrapper .menu-container .question .alt-2.false-answer:after,
.menu-wrapper .menu-container .question .alt-3.false-answer:after,
.menu-wrapper .menu-container .question .alt-4.false-answer:after,
.menu-wrapper .menu-container .menu .alt-1.false-answer:after,
.menu-wrapper .menu-container .menu .alt-2.false-answer:after,
.menu-wrapper .menu-container .menu .alt-3.false-answer:after,
.menu-wrapper .menu-container .menu .alt-4.false-answer:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/false.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-opacity: 1;
  background--webkit-transform: perspective(50) translateZ(40);
  background--moz-transform: perspective(50) translateZ(40);
  background--ms-transform: perspective(50) translateZ(40);
  background--o-transform: perspective(50) translateZ(40);
  background-transform: perspective(50) translateZ(40);
  background--webkit-box-shadow: 0 0 10px #c8c8c8;
  background--moz-box-shadow: 0 0 10px #c8c8c8;
  background-box-shadow: 0 0 10px #c8c8c8;
}
/* line 127, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-1.correct-answer:after,
.question-wrapper .question-container .question .alt-2.correct-answer:after,
.question-wrapper .question-container .question .alt-3.correct-answer:after,
.question-wrapper .question-container .question .alt-4.correct-answer:after,
.question-wrapper .question-container .menu .alt-1.correct-answer:after,
.question-wrapper .question-container .menu .alt-2.correct-answer:after,
.question-wrapper .question-container .menu .alt-3.correct-answer:after,
.question-wrapper .question-container .menu .alt-4.correct-answer:after,
.question-wrapper .menu-container .question .alt-1.correct-answer:after,
.question-wrapper .menu-container .question .alt-2.correct-answer:after,
.question-wrapper .menu-container .question .alt-3.correct-answer:after,
.question-wrapper .menu-container .question .alt-4.correct-answer:after,
.question-wrapper .menu-container .menu .alt-1.correct-answer:after,
.question-wrapper .menu-container .menu .alt-2.correct-answer:after,
.question-wrapper .menu-container .menu .alt-3.correct-answer:after,
.question-wrapper .menu-container .menu .alt-4.correct-answer:after,
.menu-wrapper .question-container .question .alt-1.correct-answer:after,
.menu-wrapper .question-container .question .alt-2.correct-answer:after,
.menu-wrapper .question-container .question .alt-3.correct-answer:after,
.menu-wrapper .question-container .question .alt-4.correct-answer:after,
.menu-wrapper .question-container .menu .alt-1.correct-answer:after,
.menu-wrapper .question-container .menu .alt-2.correct-answer:after,
.menu-wrapper .question-container .menu .alt-3.correct-answer:after,
.menu-wrapper .question-container .menu .alt-4.correct-answer:after,
.menu-wrapper .menu-container .question .alt-1.correct-answer:after,
.menu-wrapper .menu-container .question .alt-2.correct-answer:after,
.menu-wrapper .menu-container .question .alt-3.correct-answer:after,
.menu-wrapper .menu-container .question .alt-4.correct-answer:after,
.menu-wrapper .menu-container .menu .alt-1.correct-answer:after,
.menu-wrapper .menu-container .menu .alt-2.correct-answer:after,
.menu-wrapper .menu-container .menu .alt-3.correct-answer:after,
.menu-wrapper .menu-container .menu .alt-4.correct-answer:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/check.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-opacity: 1;
  background--webkit-transform: perspective(50) translateZ(40);
  background--moz-transform: perspective(50) translateZ(40);
  background--ms-transform: perspective(50) translateZ(40);
  background--o-transform: perspective(50) translateZ(40);
  background-transform: perspective(50) translateZ(40);
  background--webkit-box-shadow: 0 0 10px #c8c8c8;
  background--moz-box-shadow: 0 0 10px #c8c8c8;
  background-box-shadow: 0 0 10px #c8c8c8;
}
/* line 148, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-2,
.question-wrapper .question-container .menu .alt-2,
.question-wrapper .menu-container .question .alt-2,
.question-wrapper .menu-container .menu .alt-2,
.menu-wrapper .question-container .question .alt-2,
.menu-wrapper .question-container .menu .alt-2,
.menu-wrapper .menu-container .question .alt-2,
.menu-wrapper .menu-container .menu .alt-2 {
  -webkit-transform: perspective(0) translate(220px, 0);
  -moz-transform: perspective(0) translate(220px, 0);
  -ms-transform: perspective(0) translate(220px, 0);
  -o-transform: perspective(0) translate(220px, 0);
  transform: perspective(0) translate(220px, 0);
}
@media only screen and (min-height: 700px) {
  /* line 148, ../sass/screen.scss */
  .question-wrapper .question-container .question .alt-2,
  .question-wrapper .question-container .menu .alt-2,
  .question-wrapper .menu-container .question .alt-2,
  .question-wrapper .menu-container .menu .alt-2,
  .menu-wrapper .question-container .question .alt-2,
  .menu-wrapper .question-container .menu .alt-2,
  .menu-wrapper .menu-container .question .alt-2,
  .menu-wrapper .menu-container .menu .alt-2 {
    -webkit-transform: perspective(0) translate(420px, 0);
    -moz-transform: perspective(0) translate(420px, 0);
    -ms-transform: perspective(0) translate(420px, 0);
    -o-transform: perspective(0) translate(420px, 0);
    transform: perspective(0) translate(420px, 0);
  }
}
/* line 154, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-3,
.question-wrapper .question-container .menu .alt-3,
.question-wrapper .menu-container .question .alt-3,
.question-wrapper .menu-container .menu .alt-3,
.menu-wrapper .question-container .question .alt-3,
.menu-wrapper .question-container .menu .alt-3,
.menu-wrapper .menu-container .question .alt-3,
.menu-wrapper .menu-container .menu .alt-3 {
  -webkit-transform: perspective(0) translate(0, 220px);
  -moz-transform: perspective(0) translate(0, 220px);
  -ms-transform: perspective(0) translate(0, 220px);
  -o-transform: perspective(0) translate(0, 220px);
  transform: perspective(0) translate(0, 220px);
}
@media only screen and (min-height: 700px) {
  /* line 154, ../sass/screen.scss */
  .question-wrapper .question-container .question .alt-3,
  .question-wrapper .question-container .menu .alt-3,
  .question-wrapper .menu-container .question .alt-3,
  .question-wrapper .menu-container .menu .alt-3,
  .menu-wrapper .question-container .question .alt-3,
  .menu-wrapper .question-container .menu .alt-3,
  .menu-wrapper .menu-container .question .alt-3,
  .menu-wrapper .menu-container .menu .alt-3 {
    -webkit-transform: perspective(0) translate(0, 420px);
    -moz-transform: perspective(0) translate(0, 420px);
    -ms-transform: perspective(0) translate(0, 420px);
    -o-transform: perspective(0) translate(0, 420px);
    transform: perspective(0) translate(0, 420px);
  }
}
/* line 160, ../sass/screen.scss */
.question-wrapper .question-container .question .alt-4,
.question-wrapper .question-container .menu .alt-4,
.question-wrapper .menu-container .question .alt-4,
.question-wrapper .menu-container .menu .alt-4,
.menu-wrapper .question-container .question .alt-4,
.menu-wrapper .question-container .menu .alt-4,
.menu-wrapper .menu-container .question .alt-4,
.menu-wrapper .menu-container .menu .alt-4 {
  -webkit-transform: perspective(0) translate(220px, 220px);
  -moz-transform: perspective(0) translate(220px, 220px);
  -ms-transform: perspective(0) translate(220px, 220px);
  -o-transform: perspective(0) translate(220px, 220px);
  transform: perspective(0) translate(220px, 220px);
}
@media only screen and (min-height: 700px) {
  /* line 160, ../sass/screen.scss */
  .question-wrapper .question-container .question .alt-4,
  .question-wrapper .question-container .menu .alt-4,
  .question-wrapper .menu-container .question .alt-4,
  .question-wrapper .menu-container .menu .alt-4,
  .menu-wrapper .question-container .question .alt-4,
  .menu-wrapper .question-container .menu .alt-4,
  .menu-wrapper .menu-container .question .alt-4,
  .menu-wrapper .menu-container .menu .alt-4 {
    -webkit-transform: perspective(0) translate(420px, 420px);
    -moz-transform: perspective(0) translate(420px, 420px);
    -ms-transform: perspective(0) translate(420px, 420px);
    -o-transform: perspective(0) translate(420px, 420px);
    transform: perspective(0) translate(420px, 420px);
  }
}
/* line 167, ../sass/screen.scss */
.question-wrapper .question-container .menu,
.question-wrapper .menu-container .menu,
.menu-wrapper .question-container .menu,
.menu-wrapper .menu-container .menu {
  padding: 20px;
  color: white;
  display: none;
  -webkit-transform: rotateY(0deg);
  /* Chrome, Safari, Opera */
  transform: rotateY(0deg);
  /* Standard syntax */
  width: 400px;
  height: 400px;
  text-align: center;
  border: 4px solid white;
  -webkit-transform: translateY(-1000px);
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -o-transform: translateY(-1000px);
  transform: translateY(-1000px);
}
/* line 177, ../sass/screen.scss */
.question-wrapper .question-container .menu .menu-header,
.question-wrapper .menu-container .menu .menu-header,
.menu-wrapper .question-container .menu .menu-header,
.menu-wrapper .menu-container .menu .menu-header {
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 1.5em;
  border-bottom: 4px solid white;
}
@media only screen and (min-height: 700px) {
  /* line 177, ../sass/screen.scss */
  .question-wrapper .question-container .menu .menu-header,
  .question-wrapper .menu-container .menu .menu-header,
  .menu-wrapper .question-container .menu .menu-header,
  .menu-wrapper .menu-container .menu .menu-header {
    font-size: 40px;
  }
}
/* line 186, ../sass/screen.scss */
.question-wrapper .question-container .menu .menu-subheader,
.question-wrapper .menu-container .menu .menu-subheader,
.menu-wrapper .question-container .menu .menu-subheader,
.menu-wrapper .menu-container .menu .menu-subheader {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5em;
}
@media only screen and (min-height: 700px) {
  /* line 186, ../sass/screen.scss */
  .question-wrapper .question-container .menu .menu-subheader,
  .question-wrapper .menu-container .menu .menu-subheader,
  .menu-wrapper .question-container .menu .menu-subheader,
  .menu-wrapper .menu-container .menu .menu-subheader {
    font-size: 20px;
  }
}
/* line 196, ../sass/screen.scss */
.question-wrapper .question-container .menu .points-number,
.question-wrapper .menu-container .menu .points-number,
.menu-wrapper .question-container .menu .points-number,
.menu-wrapper .menu-container .menu .points-number {
  padding-top: 20px;
  font-size: 40px;
}
/* line 200, ../sass/screen.scss */
.question-wrapper .question-container .menu .points-text,
.question-wrapper .menu-container .menu .points-text,
.menu-wrapper .question-container .menu .points-text,
.menu-wrapper .menu-container .menu .points-text {
  font-size: 20px;
}
@media only screen and (min-height: 700px) {
  /* line 167, ../sass/screen.scss */
  .question-wrapper .question-container .menu,
  .question-wrapper .menu-container .menu,
  .menu-wrapper .question-container .menu,
  .menu-wrapper .menu-container .menu {
    width: 800px;
    height: 800px;
  }
}
/* line 209, ../sass/screen.scss */
.question-wrapper .question-container .menu#main-menu,
.question-wrapper .menu-container .menu#main-menu,
.menu-wrapper .question-container .menu#main-menu,
.menu-wrapper .menu-container .menu#main-menu {
  padding-top: 140px;
}
/* line 211, ../sass/screen.scss */
.question-wrapper .question-container .menu#main-menu:before,
.question-wrapper .menu-container .menu#main-menu:before,
.menu-wrapper .question-container .menu#main-menu:before,
.menu-wrapper .menu-container .menu#main-menu:before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url(../img/logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media only screen and (min-height: 700px) {
  /* line 211, ../sass/screen.scss */
  .question-wrapper .question-container .menu#main-menu:before,
  .question-wrapper .menu-container .menu#main-menu:before,
  .menu-wrapper .question-container .menu#main-menu:before,
  .menu-wrapper .menu-container .menu#main-menu:before {
    top: -150px;
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-height: 700px) {
  /* line 209, ../sass/screen.scss */
  .question-wrapper .question-container .menu#main-menu,
  .question-wrapper .menu-container .menu#main-menu,
  .menu-wrapper .question-container .menu#main-menu,
  .menu-wrapper .menu-container .menu#main-menu {
    padding-top: 240px;
  }
}
/* line 235, ../sass/screen.scss */
.question-wrapper .question-container .menu .menu-button,
.question-wrapper .menu-container .menu .menu-button,
.menu-wrapper .question-container .menu .menu-button,
.menu-wrapper .menu-container .menu .menu-button {
  position: absolute;
  width: 380px;
  left: 50%;
  margin-left: -190px;
  bottom: 20px;
  border: 4px solid white;
  padding: 10px;
  font-size: 20px;
}
/* line 244, ../sass/screen.scss */
.question-wrapper .question-container .menu .menu-button.selected,
.question-wrapper .menu-container .menu .menu-button.selected,
.menu-wrapper .question-container .menu .menu-button.selected,
.menu-wrapper .menu-container .menu .menu-button.selected {
  -webkit-box-shadow: 0 0 100px #8cbaff;
  -moz-box-shadow: 0 0 100px #8cbaff;
  box-shadow: 0 0 100px #8cbaff;
}

/* line 252, ../sass/screen.scss */
#jan-olav-big {
  position: absolute;
  bottom: 0;
  right: -100px;
  height: 100%;
  width: 600px;
  background-image: url(../img/janolavtitle.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media only screen and (min-height: 700px) {
  /* line 252, ../sass/screen.scss */
  #jan-olav-big {
    width: 1000px;
  }
}

/* line 270, ../sass/screen.scss */
.star-1,
.star-2,
.star-3 {
  width: 40px;
  height: 40px;
}

/* line 276, ../sass/screen.scss */
.screen-1,
.screen-2,
.screen-3 {
  width: 100px;
  height: 100px;
}

/* line 285, ../sass/screen.scss */
.star-1,
.star-2,
.star-3,
.screen-1,
.screen-2,
.screen-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-size: cover;
  -webkit-backface-visibility: hidden;
}

/* line 295, ../sass/screen.scss */
.star-1 {
  background-image: url(../img/star-1.png);
}

/* line 298, ../sass/screen.scss */
.star-2 {
  background-image: url(../img/star-2.png);
}

/* line 301, ../sass/screen.scss */
.star-3 {
  background-image: url(../img/star-3.png);
}

/* line 305, ../sass/screen.scss */
.screen-1 {
  background-image: url(../img/screen-1.png);
}

/* line 308, ../sass/screen.scss */
.screen-2 {
  background-image: url(../img/screen-2.png);
}

/* line 311, ../sass/screen.scss */
.screen-3 {
  background-image: url(../img/screen-3.png);
}

/* line 316, ../sass/screen.scss */
.count-down {
  font-size: 150px;
  color: white;
  -webkit-transform: perspective(400) translateZ(0);
  -moz-transform: perspective(400) translateZ(0);
  -ms-transform: perspective(400) translateZ(0);
  -o-transform: perspective(400) translateZ(0);
  transform: perspective(400) translateZ(0);
  text-align: center;
  opacity: 0;
}

/* line 324, ../sass/screen.scss */
.scoreboard {
  width: 300px;
  border: 4px solid white;
  background: transparent;
  height: 80%;
  position: absolute;
  color: white;
  top: 10%;
  left: 20px;
  padding: 10px;
  text-align: center;
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transform: translateX(-400px);
}
/* line 336, ../sass/screen.scss */
.scoreboard #level-text {
  padding: 4px;
}
/* line 340, ../sass/screen.scss */
.scoreboard #level-number {
  font-size: 40px;
  border-bottom: 2px solid white;
  padding-bottom: 14px;
}
/* line 345, ../sass/screen.scss */
.scoreboard #score-text {
  border-bottom: 2px solid white;
  padding-bottom: 14px;
}
/* line 349, ../sass/screen.scss */
.scoreboard #score-number {
  font-size: 40px;
  padding: 14px;
}
/* line 353, ../sass/screen.scss */
.scoreboard #lives-text {
  padding-bottom: 14px;
}
/* line 356, ../sass/screen.scss */
.scoreboard #lives-number {
  font-size: 40px;
  padding: 14px;
}

/* line 361, ../sass/screen.scss */
.time-counter {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 365, ../sass/screen.scss */
.time-counter .pac-man {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 100%;
  margin-top: -80px;
  margin-left: -90px;
  left: 0;
  background-image: url(../img/janolavlukket.png);
  background-size: 120px 80px;
  background-repeat: no-repeat;
  z-index: 200000;
}
/* line 379, ../sass/screen.scss */
.time-counter .pac-man.aapen {
  background-image: url(../img/janolavaapen.png);
}
/* line 383, ../sass/screen.scss */
.time-counter .pellet {
  position: absolute;
  top: 100%;
  width: 20px;
  height: 20px;
  left: 0;
  margin-top: -40px;
  z-index: 200001;
}
/* line 390, ../sass/screen.scss */
.time-counter .pellet:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 5px;
  height: 5px;
  background-color: #f2ea0f;
  -webkit-box-shadow: 0 0 10px #f2ea0f;
  -moz-box-shadow: 0 0 10px #f2ea0f;
  box-shadow: 0 0 10px #f2ea0f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
